@font-face {
  font-family: 'DINNextW1G-Black';
  src: url('fonts/DINNextW1G-Black.eot');
  src: url('fonts/DINNextW1G-Black.woff2') format("woff2"), url('fonts/DINNextW1G-Black.woff') format("woff"), url('fonts/DINNextW1G-Black.ttf') format("truetype"), url('../fonts/DINNextW1G-Black.svg') format("svg");
}

@font-face {
  font-family: 'DINNextW1G-BlackItalic';
  src: url('fonts/DINNextW1G-BlackItalic.eot');
  src: url('fonts/DINNextW1G-BlackItalic.woff2') format("woff2"), url('fonts/DINNextW1G-BlackItalic.woff') format("woff"), url('fonts/DINNextW1G-BlackItalic.ttf') format("truetype"), url('../fonts/DINNextW1G-BlackItalic.svg') format("svg");
}

@font-face {
  font-family: 'DINNextW1G-Bold';
  src: url('fonts/DINNextW1G-Bold.eot');
  src: url('fonts/DINNextW1G-Bold.woff2') format("woff2"), url('fonts/DINNextW1G-Bold.woff') format("woff"), url('fonts/DINNextW1G-Bold.ttf') format("truetype"), url('../fonts/DINNextW1G-Bold.svg') format("svg");
}

@font-face {
  font-family: 'DINNextW1G-BoldItalic';
  src: url('fonts/DINNextW1G-BoldItalic.eot');
  src: url('fonts/DINNextW1G-BoldItalic.woff2') format("woff2"), url('fonts/DINNextW1G-BoldItalic.woff') format("woff"), url('fonts/DINNextW1G-BoldItalic.ttf') format("truetype"), url('../fonts/DINNextW1G-BoldItalic.svg') format("svg");
}

@font-face {
  font-family: 'DINNextW1G-Italic';
  src: url('fonts/DINNextW1G-Italic.eot');
  src: url('fonts/DINNextW1G-Italic.woff2') format("woff2"), url('fonts/DINNextW1G-Italic.woff') format("woff"), url('fonts/DINNextW1G-Italic.ttf') format("truetype"), url('../fonts/DINNextW1G-Italic.svg') format("svg");
}

@font-face {
  font-family: 'DINNextW1G-LightItalic';
  src: url('fonts/DINNextW1G-LightItalic.eot');
  src: url('fonts/DINNextW1G-LightItalic.woff2') format("woff2"), url('fonts/DINNextW1G-LightItalic.woff') format("woff"), url('fonts/DINNextW1G-LightItalic.ttf') format("truetype"), url('../fonts/DINNextW1G-LightItalic.svg') format("svg");
}

@font-face {
  font-family: 'DINNextW1G-Medium';
  src: url('fonts/DINNextW1G-Medium.eot');
  src: url('fonts/DINNextW1G-Medium.woff2') format("woff2"), url('fonts/DINNextW1G-Medium.woff') format("woff"), url('fonts/DINNextW1G-Medium.ttf') format("truetype"), url('../fonts/DINNextW1G-Medium.svg') format("svg");
}

@font-face {
  font-family: 'DINNextW1G-MediumItalic';
  src: url('fonts/DINNextW1G-MediumItalic.eot');
  src: url('fonts/DINNextW1G-MediumItalic.woff2') format("woff2"), url('fonts/DINNextW1G-MediumItalic.woff') format("woff"), url('fonts/DINNextW1G-MediumItalic.ttf') format("truetype"), url('../fonts/DINNextW1G-MediumItalic.svg') format("svg");
}

@font-face {
  font-family: 'DINNextW1G-Regular';
  src: url('fonts/DINNextW1G-Regular.eot');
  src: url('fonts/DINNextW1G-Regular.woff2') format("woff2"), url('fonts/DINNextW1G-Regular.woff') format("woff"), url('fonts/DINNextW1G-Regular.ttf') format("truetype"), url('../fonts/DINNextW1G-Regular.svg') format("svg");
}

#clear-search {
  font-weight: bold;
  color: #ccc;
  position: absolute;
  right: 0;
  padding: 0 18px 0 4px;
  cursor: pointer;
  background: #fff;
}

div.search {
  position: relative;
  display: flex;
  align-items: center;
}

.content .center-column + pre {
  position: static;
  float: none;
  clear: none;
  margin: 0 28px;
  left: 0;
  width: 45% !important;
  overflow: scroll;
}

.content h4 {
  font-size: 14px;
}

.content table th {
  font-size: 11px;
}

body {
  font-family: 'DINNextW1G-Regular';
  font-size: 16px;
  font-weight: 500;
}

a {
  color: #0f7cb8;
  text-decoration: none;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, html {
  font-family: 'DINNextW1G-Bold';
  font-weight: 700;
}

.toc-divider {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: rgba(12, 18, 28, 0.38);
  padding-top: 25px;
  padding-left: 15px;
}

.toc-wrapper .toc-footer {
  border-top: 1px dotted rgba(12, 18, 28, 0.12);
}

.page-wrapper {
  background: #fff;
}

.page-wrapper .dark-box {
  background-color: #292f38;
}

.content pre {
  background-color: transparent;
  padding: 1em 2.4em;
  margin-top: -10px;
  max-height: inherit;
  padding-top: 30px;
}

.content blockquote > p {
  background-color: #292f38;
  color: #ffffff;
  padding: 0px 1.8em;
}

@media (max-width: 700px) {
  .content blockquote > p {
    background-color: #ffffff;
    color: rgba(12, 18, 28, 0.87);
  }
}

.page-wrapper .lang-selector {
  border-bottom: none;
  background-color: #292f38;
  padding: 10px
}

.page-wrapper .lang-selector a, .toc-wrapper .lang-selector a {
  color: #43b9d3;
}

.page-wrapper .lang-selector a:focus, .toc-wrapper .lang-selector a.focus {
  background-color: #292f38;
}

.page-wrapper .lang-selector a.active, .toc-wrapper .lang-selector a.active {
  color: #ffffff;
  background-color: inherit;
}

.content pre > code {
  background-color: #16191e;
  display: block;
  padding: 17px;
  border-radius: 7px;
  white-space: pre-wrap;
  font-size: 14px;
}

h3 {
  display: block;
  clear: both;
  content: " ";
}

.hljs-keyword, .hljs-selector-tag, .hljs-number, .hljs-literal, .hljs-section, .hljs-link, .hljs-string, .hljs-title, .hljs-name, .hljs-type, .hljs-attribute, .hljs-symbol, .hljs-bullet, .hljs-built_in, .hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable {
  color: #43b9d3;
  font-weight: normal;
}

.toc-wrapper {
  border-right: 1px solid rgba(12, 18, 28, 0.12);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: #fff;
}

.toc-wrapper .logo {
  max-width: 80%;
}

.toc-wrapper .toc-link.active {
  background-color: #f2f4f5;
  color: rgba(12, 18, 28, 0.87);
  padding-top: 8px;
  padding-bottom: 8px;
}

.toc-wrapper .toc-link.active-parent {
  background-color: #fff;
  color: rgba(12, 18, 28, 0.87);
  padding-top: 8px;
  padding-bottom: 8px;
}

.toc-wrapper li {
  color: rgba(12, 18, 28, 0.87);
  padding-top: 0;
  padding-bottom: 0;
}

.toc-link, .toc-footer li {
  color: rgba(12, 18, 28, 0.87);
}

.toc-link {
  padding-top: 8px;
  padding-bottom: 8px;
}

.toc-wrapper .toc-h1 {
  font-size: 16px;
  font-weight: normal;
  color: rgba(12, 18, 28, 0.87);
}

.toc-wrapper .toc-list-h2 {
  background: #fff;
}

.toc-wrapper .toc-h2 {
  font-size: 16px;
  font-weight: normal;
  color: rgba(12, 18, 28, 0.60);
  padding-top: 8px;
  padding-bottom: 8px;
}

.toc-h3 {
  font-size: 14px;
  font-weight: normal;
  color: rgba(12, 18, 28, 0.60);
}

.toc-wrapper {
  width: 235px;
}

.toc-wrapper .search-results {
  background: #f2f4f5;
  height: unset !important;
  min-height: 0;
  max-height: 0;
}

.toc-wrapper .search-results.visible {
  background: #f2f4f5;
  min-height: 70px;
  max-height: 30%;
  margin-top: -24px;
  transition: none;
}

.toc-wrapper .search-results a {
  color: rgba(12, 18, 28, 0.87);
}

.toc-wrapper > .search {
  margin-bottom: 1.5em;
  background: #fff;
}

.toc-wrapper > .search input {
  background: #fff;
  border-color: rgba(12, 18, 28, 0.12);
  color: rgba(12, 18, 28, 0.87);
  padding-left: 0;
}

.toc-wrapper > .search:before {
  display: none;
}

.content {
  padding-bottom: 125px;
}

.content p, .content li {
  color: rgba(12, 18, 28, 0.6);
  line-height: 24px;
}

.content table {
  color: rgba(12, 18, 28, 0.6);
}

.content h1 {
  border-top: 0;
  border-bottom: 0;
  margin-top: 1em;
  margin-bottom: .75em;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 30px;
  line-height: 44px;
}

.content h1:first-child, .content div:first-child + h1 {
  padding-top: 1em;
}

.content h2 {
  border-top: 0;
  border-bottom: 0;
  font-family: 'DINNextW1G-Regular';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-top: 2em;
  margin-bottom: .75em;
  padding-top: 0;
  padding-bottom: 0;
}

.content h3 {
  font-size: 16px;
}

span.requiredParam {
  font-size: small;
  color: grey;
}

span.pathParam {
  font-size: small;
  color: grey;
}

div.landingContainer {
  position: relative;
}

img.landingImage {
  max-width: 50%;
  margin-right: 50%;
}

@media (max-width: 700px) {
  img.landingImage {
    max-width: 100%;
  }
}

div.landingImageText {
  position: absolute;
  top: 35%;
  left: 28px;
  font-size: 30px;
  line-height: 44px;
  font-family: 'DINNextW1G-Bold';
  font-weight: 700;
  padding-right: 100px;
}

code.operation-GET {
  background-color: #0e7cb8;
}

code.operation-POST,
code.operation-PUT {
  background-color: #26bd7e;
}

code.operation-DELETE {
  background-color: #f54336;
}

code.operation-GET,
code.operation-POST,
code.operation-PUT,
code.operation-DELETE {
  border-radius: 3px;
  color: #FFFFFF;
  padding: 4px 4px 2px 4px;
}

code.operationPath {
  color: black;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

div.postman-run-button {
  margin: 0 0 0 28px;
}

/* body param tables */
.bodyParamRow:not(.show):not(.bodyParamFooterRow) {
  display: none;
}
.spacerCell {
  width: 0px;
  padding: 0px 3px 0px 3px!important;
}
.toggleButtonCell {
  width: 1px;
  padding: 0px!important;
}
.bodyParamRow[level='0'] .bodyParamName, .bodyParamHeaderRow .bodyParamName {
  position: relative;
  right: 12px;
}
.bodyParamRow[level='1'] .bodyParamName {
  position: relative;
  left: 6px;
}
.bodyParamRow[level='2'] .bodyParamName {
  position: relative;
  left: 16px;
}
.bodyParamRow[level='1'] .toggleButtonCell {
  border-left: 2px solid rgba(12, 18, 26, .12);
}
.bodyParamRow[level='2'] .toggleButtonCell {
  border-left: 2px solid rgba(12, 18, 26, .12);
  border-right: 2px solid rgba(12, 18, 26, .12);
}
a.toggleButton {
  color: inherit;
}
.bodyParamRow[level='0'] a.toggleButton.active::before {
  content: "\25BE";
  position: relative;
  font-size: 16px;
  right: 8px;
  top: 10px;
  z-index: 10;
}
.bodyParamRow[level='0'] a.toggleButton:not(active)::before {
  content: "\25B8";
  position: relative;
  font-size: 16px;
  right: 8px;
  top: 10px;
  z-index: 10;
}
.bodyParamRow[level='1'] a.toggleButton.active::before {
  content: "\25BE";
  position: relative;
  font-size: 16px;
  left: 11px;
  top: 10px;
  z-index: 10;
}
.bodyParamRow[level='1'] a.toggleButton:not(active)::before {
  content: "\25B8";
  position: relative;
  font-size: 16px;
  left: 11px;
  top: 10px;
  z-index: 10;
}
.bodyParamRow.bodyParamFooterRow {
  margin-bottom: 2px;
  line-height: 1px;
}

.bodyParamRow.bodyParamFooterRow td {
  line-height: 1px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.try-it-out {
  font-size: 14px;
  font-weight: 700;
  padding: 2px 15px;
  transition: all 250ms ease-out;
  border: 1px solid #292F38;
  border-radius: 2px;
  background: transparent;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  font-family: 'DINNextW1G-Regular';
  color: #292F38;
  float: right;
  margin-top: -4px;
}

.try-it-out:hover {
  color: white;
  background-color: #292F38;
}
